.header__logo {
  width: 100px;
  margin: 0 20px;
  margin-top: 18px;
  object-fit: contain; /*Ekran ne kadar değişirse değişsin
  sabit oranda tut*/
}
.header {
  background-color: rgb(177, 214, 101);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  padding-bottom: 8px;
}
.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}
.header__link {
  text-decoration: none;
  color: white;
}
.header__search {
  display: flex;
  flex: 1; /*Yapabildiğin kadar büyü demek*/
}
.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}
.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}
.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
button {
  background-color: rgb(177, 214, 101);
  border: none;
}
.header_circleIcon {
  color: white;
}
